[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/IndrapalAuto
[access "refs/for/refs/*"]
	read = group user/IndrapalAuto
	push = group user/IndrapalAuto
	label-Code-Review = -2..+2 group user/IndrapalAuto
	label-Verified = -1..+1 group user/IndrapalAuto
	rebase = group user/IndrapalAuto
	removeReviewer = group user/IndrapalAuto
	submit = group user/IndrapalAuto
[access "refs/heads/*"]
	read = group user/IndrapalAuto
	create = group user/IndrapalAuto
	push = +force group user/IndrapalAuto
	pushMerge = group user/IndrapalAuto
[access "refs/tags/*"]
	push = group user/IndrapalAuto
	push = +force group user/IndrapalAuto
